/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type='radio'] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%;
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/
header .wrapper {
  width: 100%;
  padding: 35px 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar .h1-span1 {
  text-transform: uppercase;
}

.h1-span {
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;

}

.logo {
  padding-left: 15px;
  color: #747A6D;
  font-size: 15px;
  flex-basis: auto;
}

.navbar-list {
  font-size: 20px;
  flex-basis: 50%;
  text-align: right;
  text-transform: capitalize;
}

.navbar-list li {
  padding: 0 25px;
}

.navbar li a {
  color: #fff;
}

.navbar .navbar-list li a.active,
.navbar .navbar-list li a:hover {
  padding-bottom: 3px ;
  border-bottom: 2px solid #fff;
}

.hamburger {
  display: none;
  position: relative;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  display: block;
  background-color: #fff;
  text-indent: -9999px;
  transition: all 0.3s;
}

.menu-sspan {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  text-transform: capitalize;
  color: #fff;
}

/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
.banner .wrapper {
  width: 100%;
}

.banner {
  padding: 230px 0 35px 0;
  background: url('../images/slide01.jpg') rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
}

.banner .wrapper h5 {
  margin: 0 0 25px 0;
  color: #747A6D;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.banner .h5-span {
  color: #fff;
}

.banner h2 {
  width: 20%;
  padding: 15px 0 80px 0;
  border-top: 1px solid #fff;
  margin: 0 auto;
  color: #fff;
  font-size: 100px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 400;
}

.banner-list button {
  width: 10px;
  height: 12px;
  border: none;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #747A6D;
  text-indent: -9999px;
  cursor: pointer;
}

.banner-list li button:hover { 
  background-color: #fff;
  transition: all .3s; 
}

.banner-list li:nth-child(1) button { background-color: #fff; }

.banner-list {
  padding-top: 100px;
  text-align: center;
}

.more { background-color: #F2F2F2; }

.more .wrapper {
  width: 88%;
  padding: 82px 0;
}

.more-list {
  display: flex;
  justify-content: space-between;
}

.more-list .more-item {
  background-color: #fff;
  flex-basis: 47.6%;
}

.more-item h6 {
  margin-top: 40px;
  margin-bottom: 13px;
  color: #747A6D;
  font-size: 10px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.para::before {
  width: 40.5%;
  height: 1px;
  display: block;
  position: absolute;
  top: 0%;
  left: 30%;
  background-color: #e7e7e7;
  content: "";
}

.more-item .para {
  padding-top: 11px;
  padding-bottom: 36px;
  margin: 0 auto;
  color: #302332;
  font-size: 25px;
  text-align: center;
  position: relative;
}

.more-item .para .para-span { text-transform: capitalize; }

.more-item .para2 {
  padding: 0 48px 30px 43px;
  color: #747A6D;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 20px;
}

.more-item .para-span1 { text-transform: capitalize; }

.lern-btn {
  margin-bottom: 38px;
  text-align: center;
}

.lern-btn a {
  padding: 10px 15px;
  border: 2px solid #C8C8C8;
  color: #444644;
  font-size: 13px;
  text-transform: uppercase;
}

.lern-btn a:hover {
  color: #fff;
  background-color: #444644;
  transition: all .3s;
}

.feature {
  padding: 86px 0 70px 0;
  background: rgba(0, 0, 0, 0.7) url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
}

.feature h5 {
  padding-bottom: 11px;
  color: #676B6D;
  font-size: 10px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.feature h4 {
  padding-top: 12px;
  position: relative;
  color: #fff;
  font-size: 28px;
  text-align: center;
}

.feature h4 span { text-transform: capitalize; }

.feature h4::before {
  width: 50%;
  height: 1px;
  display: block;
  position: absolute;
  top: 0%;
  left: 25%;
  background-color: #606568;
  content: "";
}

.gallery {
  padding: 70px 0;
  background-color: #D9D9D9;
}

.gallery .gallery-sec .wrapper { width: 96%; }

.gallery .gallery-sec h5 {
  padding-bottom: 11px;
  color: #676B6D;
  font-size: 10px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.gallery .gallery-sec h4 {
  padding-top: 12px;
  position: relative;
  color: #25210B;
  font-size: 28px;
  text-align: center;
}

.gallery .gallery-sec h4 span { text-transform: capitalize; }

.gallery .gallery-sec h4::before {
  width: 45%;
  height: 2px;
  display: block;
  position: absolute;
  top: 0%;
  left: 28%;
  background: #c5c5c5;
  content: "";
}

.gallery-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.gallery-item {
  padding: 15px;
  margin: 34px 0 21px 0;
  background-color: #E5E5E5;
  flex-basis: 41%;
  transition: all .3s ease-in-out;
}

.modal{
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-close {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
 }
 
 .modal-bar {
   height: 3px;
   width: 25px;
   margin: 5px;
   display: block;
   background-color: #fff;
   text-indent: -9999px;
   transition: all 0.3s;
 }

 .hide{ display: none; }

 .rotate1{ transform: translateY(3px) rotate(45deg);}

 .rotate2{ transform: translateY(-5px) rotate(-45deg); }

 .remove-scroll{ overflow-y: hidden; }

 .modal-image{ animation: zoom 0.3s linear; }

 @keyframes zoom {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
 }

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer {
  padding: 58px 0 52px 0;
  background-color: #000;
}

footer .wrapper {
  width: 100%;
  text-align: center;
}

footer .social-list .links a { text-indent: -9999px; }

.twitter::before {
  padding-left: 16px;
  float: left;
  color: #737373;
  content: "\f099";
  font-size: 26px;
  font-family: "FontAwesome";
  text-indent: 0;
}

.facebook::before {
  padding-left: 16px;
  float: left;
  color: #737373;
  content: "\f09a";
  font-size: 26px;
  font-family: "FontAwesome";
  text-indent: 0;
}

.instagram::before {
  padding-left: 16px;
  float: left;
  color: #737373;
  content: "\f16d";
  font-size: 26px;
  font-family: "FontAwesome";
  text-indent: 0;
}

.mail::before {
  padding-left: 16px;
  float: left;
  color: #737373;
  content: "\f0e0";
  font-size: 26px;
  font-family: "FontAwesome";
  text-indent: 0;
}

.twitter:hover::before,
.facebook:hover::before,
.instagram:hover::before,
.mail:hover::before { 
  color: #fff;
  transition: all .3s; 
}

footer p {
  padding-top: 38px;
  color: #6A7570;
  font-size: 12px;
  letter-spacing: 1px;
}

footer p span { text-transform: capitalize; }
/*=================================
  footer styling ends here
=================================*/
/*media query starts*/
/*media query for 1025px-1200px starts here*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .banner h2 { width: 25%; }

  .para::before {
    width: 48.5%;
    left: 28%;
  }

}

/*media query for 1025px-1200px end here*/
/*media query for 996px-1024px starts here*/
@media only screen and (min-width: 996px) and (max-width: 1024px) {
  .banner h2 { width: 26%; }

  .para::before {
    width: 51.5%;
    left: 25%;
  }

}

/*media query for 996px-1024px end here*/
/*media query for 769px-995px starts here*/
@media only screen and (min-width: 769px) and (max-width: 996px) {
  .banner h2 { width: 35%; }

  .more-item h6 { font-size: 8px; }

  .para::before {
    width: 65.5%;
    left: 18%;
  }

}

/*media query for 769px-995px end here*/
/*media query for 481px-768px starts here*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header .wrapper {
    overflow: hidden;
  }

  .navbar-list {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0%;
    background-color: rgba(27, 74, 74, 1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    transform: translateX(100%);
    transition: all .3s;
  }

  .hamburger {
    display: flex;
    z-index: 2;
  }

  .banner .wrapper h5 { font-size: 9px; }

  .banner h2 { width: 45%; }

  .more-list { flex-direction: column; }

  .more-item { margin-bottom: 40px; }

  .more-item h6 { font-size: 8px;}

  .para::before {
    width: 46.5%;
    left: 27%;
  }

  .feature h5 {
    font-size: 9px;
    line-height: 18px;
  }

  .gallery .gallery-sec h5 {
    font-size: 9px;
    line-height: 18px;
  }

  .feature h4::before {
    width: 70%;
    left: 15%;
  }

  .gallery .gallery-sec h4::before {
    width: 70%;
    left: 15%;
  }

  .gallery-list { flex-direction: column; }

  .gallery-item { margin: 34px 0 20px 0; }



  .hamburger:hover+.navbar-list {
    display: flex;
    transform: translateX(0);
  }

  .hamburger:hover .bar:nth-child(2) { opacity: 0; }

  .hamburger:hover .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }

  .hamburger:hover .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

}

/*media query for 481px-768px end here*/
/*media query for 320px-480px starts here*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  header .wrapper {
    overflow: hidden;
  }

  .h1-span { font-size: 17px; }

  .navbar-list {
    width: 100%;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0%;
    background-color: rgba(27, 74, 74, 1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    transform: translateX(100%);
    transition: all .3s;
  }

  .hamburger {
    display: flex;
    z-index: 2;
  }

  .banner .wrapper h5 {
    font-size: 7px;
    line-height: 15px;
  }

  .banner h2 { width: 68%; }

  .more-list { flex-direction: column; }

  .more-item { margin-bottom: 40px; }

  .more-item h6 {
    font-size: 8px;
    line-height: 18px;
  }

  .para::before {
    width: 70.5%;
    left: 15%;
  }

  .feature h5 {
    font-size: 8px;
    line-height: 18px;
  }

  .feature h4::before {
    width: 70%;
    left: 14%;
  }

  .gallery .gallery-sec h5 {
    font-size: 8px;
    line-height: 18px;
  }

  .gallery .gallery-sec h4::before {
    width: 70%;
    left: 14%;
  }

  .gallery-list { flex-direction: column; }

  .gallery-item { margin: 34px 0 15px 0; } 

  .hamburger:hover+.navbar-list {
    display: flex;
    transform: translateX(0);
  }

  .hamburger:hover .bar:nth-child(2) { opacity: 0; }

  .hamburger:hover .bar:nth-child(1) { transform: translateY(8px) rotate(45deg); }

  .hamburger:hover .bar:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

}
/*media query for 320px-480px end here*/